<h2>免責條款</h2>

<p>一般條款及細則
使用本平台前，請細閱以下條款及細則。當您開始使用本平台，即表示您已同意以下條款及細則並接受有關約束。 
本平台毋須事先通知閣下的情況下而可隨時對以下條款作出的修改及／或增補。請定期瀏覽此網頁查閱任何可作出的修改及／或增補 。 </p>
<p>使用者行為
您在使用本平台所產生的內容或行為，若造成任何法律紛爭，本平台以及經營者不負任何責任。同時，本平台對任何違反規定的使用者保留法律追訴權，您必須賠償本平台因您的內容或行為承受的損失。</p>
<p>廣告
為維持本平台的營運，本平台可能有廣告訊息。本平台中的廣告內容或廣告產品相關資訊，均由各該廣告主或廣告代理者所提供，本平台僅接受委託刊登，不對廣告廠商、廣告內容或廣告產品事先審查或負任何擔保責任。您對於廣告之可信度應自行斟酌與判斷。
本平台中所有的廣告相關之資料檔案，均由各該廣告主或廣告代理者所提供，本平台僅接受委託刊登，廣告相關資料檔案如有侵權情事發生，概與本平台無涉。
您若透過本平台(如:廣告)或經由本平台連結至其他網站而發生買賣交易時，各該買賣交易或交易合約均僅存在您與各該商家之間，概與本平台無涉，本平台聲明絕不介入您與商家之間的任何買賣交易行為，對於您的交易內容亦不負任何擔保責任。請您於交易之前審慎評估，交易之後如遇糾紛，應向各該商家尋求解決之道。</p>
<p>使用者安全
本平台對於您使用本平台或經由本平台連結之其他網站而下載的檔案或資料，不負任何擔保責任，您應於下載前自行判斷該檔案或資料之正確性、安全性及合法性，以免造成電腦系統毀損或任何其他損失，本平台亦不對您因此所導致的任何損失或後果負責。
</p>
<p>資訊內容
本平台著力提供準確、最新的資訊，但我們未就本平台中任何資訊的準確性、正當性、完整性做出任何陳述、保證、明示或默示，亦不擔保您使用本平台所取得之資訊內容的正確性。
基於尊重平台自由開放的屬性，以及使用者的智慧財產權，本平台對其使用者提供之資訊內容並不做審查或重編，對該等資訊內容之正確性亦不負任何責任。本平台所提供之資訊內容僅供參考之用，您應當自行判斷資訊內容之正確性，使用前您須自行評估其參考價值。
本平台並不會因為任何人使用本平台的資訊、數據或內容而招致任何損失，而構成任何責任，包括但不限於因為本平台資訊、數據或內容而引起的民事索償。所有使用本平台的資訊、數據或內容之人士，必須自行評估及承擔相關的風險及責任。本平台有權自行對於本平台的資訊、數據或內容的任何部分的錯誤、遺漏作出修正、彌補，惟本平台對此並無構成任何的義務或法律責任。
本平台對於平台上的任何帳戶和內容，有權隨時修改或刪除。
本平台有可能與其他第三人(如:個人、網站、廠商或公司)合作，由其提供資訊內容刊登於本平台中。
您有可能經由本平台連結至本平台以外的其他網站，那些網站與本平台沒有任何關係，本平台不對該等網站內容負責，本平台亦不對您因此等連結所導致的損失或任何後果負責。
此外，其他經營者所屬的網站有可能與本平台的任何網頁連結，包括但不限：本平台所提供的資訊網頁或使用者所刊登的個人資料或其他資料網頁。本平台沒有義務應使用者的要求採取措施以移除此等連結，本平台亦不對您因此等連結所導致的任何損失或後果負責。</p>
